.game-header {
    display: flex;
    flex-wrap: wrap;
}

.title {
    margin: 0.5rem 1rem;
    color: white;
    font-size: 2rem;
    font-family: Neucha;
}

.turn {
    color: #F2C94C;
}

.game {
    height: 65vh;
    padding: 0.5rem;
}

.user-name{
    width: 100%;
    color: white;
    display: block;
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
    font-family: Neucha;
    background-color: #F92A82;
}