.board {
    display: grid;
    height: 60vh;
    border: 3px solid #E5D4ED;
    border-radius: 10px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.undo {
    display: flex;
    justify-content: flex-end;
}

.alert{
    color: yellow;
    font-size: 1.5rem;
}